numpy==1.26.4
opencv-python==4.9.0.80
pandas==2.2.0
pyqtgraph==0.13.3
PySide6==6.6.2
PySide6_Addons==6.6.2
PySide6_Essentials==6.6.2
python-dateutil==2.8.2
pytz==2024.1
scipy==1.12.0
shiboken6==6.6.2
six==1.16.0
tzdata==2024.1
pyueye
